* {
    box-sizing: border-box;
    margin: 0;
}

$red: rgb(248, 38, 80);
$blue: rgb(41, 41, 114);
$white: aliceblue;
$shadow: rgba(203, 231, 253, 0.39);
$white2: rgb(213, 219, 222);
$btnColor: rgb(107, 107, 185);

.pomodoro {
    background-color: $blue;

    .timer__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 3rem;
        font-family: 'Lato', sans-serif;

        .pomodoro__title {
            font-size: 2rem;
            color: $white;
            margin-bottom: 3rem;
        }

        .timer__panel {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 18rem;
            padding: 1rem;
            text-align: center;
            border-radius: 10rem;
            -webkit-box-shadow: 0px 0px 16px 5px $shadow;
            -moz-box-shadow: 0px 0px 16px 5px $shadow;
            box-shadow: 0px 0px 16px 5px $shadow;
            margin-bottom: 2rem;
            cursor: pointer;
        }

        .timer__field {
            display: flex;
            justify-content: space-between;

            .plus,
            .minus {
                color: $white;
                font-size: 5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: -3rem;
                cursor: pointer;
            }

            .timer {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 3rem;
                margin-right: 3rem;
                width: 20rem;
                height: 20rem;
                border-radius: 50%;
                -webkit-box-shadow: 0px 0px 16px 5px $shadow;
                -moz-box-shadow: 0px 0px 16px 5px $shadow;
                box-shadow: 0px 0px 16px 5px $shadow;
                margin-bottom: 3rem;
                position: relative;
            }


            .timer__circle {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 17rem;
                height: 17rem;
                border-radius: 50%;
                background-color: $red;
                position: relative;
            }

            .timer__circle::before {
                content: '';
                width: 95%;
                height: 95%;
                border-radius: 50%;
                background-color: $blue;
                position: absolute;
            }

            .time {
                display: flex;
                flex-direction: row;
                position: relative;
                font-size: 4.5rem;
                color: $white2;
            }

            .time p:nth-of-type(2) {
                position: relative;
                top: -0.5rem;
                margin-inline: 0.8rem;
            }

        }

        .timer_buttons {
            margin-bottom: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;

            .button__time {
                max-width: 7rem;
                padding: 1.5rem 2rem;
                font-size: 1.5rem;
                border: none;
                border-radius: 10%;
                color: $white;
                background-color: rgb(41, 41, 114);
                -webkit-box-shadow: 0px 0px 16px 5px $shadow;
                -moz-box-shadow: 0px 0px 16px 5px $shadow;
                box-shadow: 0px 0px 16px 5px $shadow;
                margin: 0 1rem;
                cursor: pointer;
            }

            .button__time:hover {
                background-color: $btnColor;
            }
        }
    }
}

.timer__panel p {
    opacity: 0.8;
    transition: 0.8s ease-in;
    color: $white;
}

.timer__panel p.active {
    opacity: 1;
    color: $red;
}